%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        = bootstrap_form_for([:admin, @video], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6") do |f|
          %ul.nav.nav-tabs
            %li
              = link_to "Recent Payments", admin_payments_path
            %li.active
              = link_to "Add A New Video", new_admin_video_path
          %br
          %fieldset
            = f.text_field :title, class: "col-sm-3"
            = f.select :category_ids, Category.all.map {|category| [category.name, category.id]}, { :prompt => "-Please select-", label: "Categories" }, { :multiple => true, :size => 5 }
            = f.text_area :description, rows: 8
            = f.file_field :large_cover, class: "btn btn-file"
            = f.file_field :small_cover, class: "btn btn-file"
            = f.text_field :video_url, class: "span3"
            .col-sm-6.col-md-offset-3
              = f.submit "Add Video"